*{	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


[class*='col-']{
	float: left;
	border:1px solid;
}

.row:after{
	content: '';
	clear: both;
	display: block;
}

.wrapper{
	width:80%;
	height: auto;
	margin: 0 auto;
}


.header-top-height {height: 30px;}
.header-height {height: 200px;}
.menu-height {height: 50px;}
.content-height {height: 600px;}
.big-footer-height {height: 250px;}
.footer-height {height: 40px;}


.main-ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.main-ul li{
	float: left;
	width: 90px;
	border:1px solid black;

}

.main-ul li a{
	display: block;
	text-decoration: none;
	height: 48px;
	text-align: center;
	padding-top: 15px;
	color: black;
	background-color: grey;
	transition: 1s;

}

.main-ul li a:hover{
	background-color: green;
	color: white;
}


.div-one{
	height: 200px;	
	width: 600px;
	/*border-color: #e2e6ea;*/
    /*background-color: red;*/
	margin: 50px 0px 0px 50px;
	float: left;
	animation: bitm;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	/*background: linear-gradient(to left, red, green, yellow, white, black);*/
	/*transition: 1s;*/
	/*transform: rotateY(360deg);*/
	/*transform: rotateX(0deg);*/
	/*transform: rotate(0deg);*/
	/*transform: scale(1);*/
	/*border:30px inset red;*/
	/*border:30px outset red;*/
	/*border:10px ridge red;*/
	/*border:3px dashed white;*/
	/*border:3px dotted white;*/
	/*border-right: none;*/
	/*border-left: 5px solid white;*/
	/*border-radius: 0 100px 100px 0;*/
    /*border-radius: 100px;*/	
    /*transform: skew(-30deg);*/
	/*transform: skewY(25deg);*/
	/*width: 50px;*/
}

/*.div-two{
	height: 50px;	
	width: 10px;
	background-color: red;
	margin: 10px;
	border:1px solid green;
	float: left;
	transform: skew(30deg);*/
	/*border-radius: 100px 0px 0px 0px;*/
	/*transform: skewY(-25deg);*/
    /*width: 50px;
}*/

/*.div-one:hover{*/
/*	transform: scale(1.5);*/
/*	transform: rotateX(360deg);*/
/*	transform: rotateY(30deg);*/
/*}*/

@keyframes bitm {
	0% {background: url("image/20190813_195623.jpg");}
	25% {background: url("image/20190606_173459.jpg");}
	50% {background: url("image/20190309_135313.jpg");}
	75% {background: url("image/20181217_205438.jpg");}
	100% {background: url("image/20181217_142428.jpg");}


	/*0% {background-color: coral;}*/
	/*25% {background-color: bisque;}*/
	/*50% {background-color: aqua;}*/
	/*75% {background-color: orange;}*/
	/*100% {background-color: cornflowerblue;}*/


	/*0% {background-color: green; width:500px; }*/
	/*25% {background-color: yellow; height:200px;}*/
	/*50% {background-color: blue; width:200px;}*/
	/*75% {background-color: orange; height:500px;}*/
	/*100% {background-color: red; width:200px;}*/


	/*0% {background-color: green; transform:rotate(0deg) scale(.5); }*/
	/*50% {background-color: yellow; transform:rotate(360deg) scale(1.5);}*/
	/*100% {background-color: red; transform:rotate(0deg) scale(.5);}*/

}
























